 @import url('https://fonts.googleapis.com/css?family=Montserrat');

////////////////////////////////////////////////////////////////////////
//                               reset                                //
////////////////////////////////////////////////////////////////////////
 
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


////////////////////////////////////////////////////////////////////////
//                             variables                              //
////////////////////////////////////////////////////////////////////////

$black-color: #454545;
$white-color: #fff8f0;
$dark-blue-color: #2e3b4a;
$blue-color: #3b4c5f;
$light-blue-color: #485c73;
$button-bg-color: #4c4c4c;

////////////////////////////////////////////////////////////////////////
//                                base                                //
////////////////////////////////////////////////////////////////////////

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 4rem;
  color: $white-color;
}

h2 {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

////////////////////////////////////////////////////////////////////////
//                              layouts                               //
////////////////////////////////////////////////////////////////////////


body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: $white-color;
  color: $black-color;
}

header {
  width: 100%;
  height: 8vh;
  min-height: 8rem;
  display: flex;
  align-items: center;
  background-color: $light-blue-color;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

footer {
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $light-blue-color;
  color: $white-color;
}

////////////////////////////////////////////////////////////////////////
//                             components                             //
////////////////////////////////////////////////////////////////////////

////////////////////////
//  button dark mode  //
////////////////////////

.header__button-dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 4rem;
  position: absolute;
  right: 2vh;
  color: $white-color;
  cursor: default;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    text-align: center;

    p {
      font-size: 2rem;
    }
  }
  .button-dark-mode--off {
    background-color: $button-bg-color;
  }
  .button-dark-mode--on {
    background-color: $black-color;
  }
}

////////////
//  form  //
////////////

.form {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 4rem 0 3rem 0;

  label {
    text-align: center;
    height: 5vh;
    min-height: 5rem;
    display: flex;
    align-items: center;
    margin: 1rem;
  }

  input {
    height: 5vh;
    min-height: 4rem;
    max-height: 6rem;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    color: $white-color;
    background-color: $black-color;
  }

  button {
    height: 5vh;
    min-height: 4rem;
    max-height: 6rem;
    width: 10rem;
    font-size: 2rem;
    margin: 1rem;
    color: $white-color;
    background-color: $black-color;
  }
}

//////////
//  ul  //
//////////

ul {
  font-size: 2rem;
  height: 50vh;
  padding: 3rem 0 4rem 0;
  overflow-y: visible;
  overflow-x: hidden;
  padding: 1rem;

  li {
    width: 50rem;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;

    .fa-times-circle {
      margin: 1rem;
      font-size: 3rem;
    }

    span {
      font-size: 3rem;
      margin: 1rem;
      width: 20rem;
      word-wrap: break-word;

    }

    .li__span--crossed {
      text-decoration: line-through;
    }

    input {
      text-align: center;
      width: 6rem;
      height: 4rem;
      font-size: 3rem;
      margin: 1rem;
    }
  }
}

//////////////
//  footer  //
//////////////

  a {
    color: $white-color;

    .fa-github-square {
      font-size: 10rem;
    }

    .fa-twitter-square {
      font-size: 10rem;
    }

    .fa-linkedin {
      font-size: 10rem;
    }
  }

  .footer__link-twitter {
      margin: 0 5rem 0 5rem;
  }

  .footer__p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
  }

////////////////////////////////////////////////////////////////////////
//                               color                                //
////////////////////////////////////////////////////////////////////////

.body--darkmode {
  color: $white-color;
  background-color: $black-color;
}

.header--darkmode {
  background-color: $dark-blue-color;
}

.footer--darkmode {
  background-color: $dark-blue-color;
}

form .input--darkmode {
  background-color: $white-color;
  color: $black-color;
}

form .button--darkmode {
  background-color: $white-color;
  color: $black-color;
}

////////////////////////////////////////////////////////////////////////
//                           media queries                            //
////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 500px) {

  h1 {
    font-size: 2.5rem;
    left: 5%;
    transform: none;
  }

  main {
    padding: 0;
  }

  .form {
    flex-wrap: wrap;
    height: 20rem;
    padding: 0;

    label {
      width: 100%;
      justify-content: center;
      position: relative;
      bottom: 1rem
    }

    input {
      width: 60%;
      position: relative;
      bottom: 3rem
    }

    button {
      width: 20%;
      position: relative;
      bottom: 3rem
    }
  }

  h2 {
    position: relative;
    bottom: 3rem;
  }

  ul {
    position: relative;
    bottom: 3rem;

    li {
      width: 100%;
    }
  }

  footer {

    a {

      .fa-github-square {
        font-size: 6rem;
      }

      .fa-twitter-square {
        font-size: 6rem;
      }

      .fa-linkedin {
        font-size: 6rem;
      }
    }

    .footer__p {
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 800px) {

}
