 @import url('https://fonts.googleapis.com/css?family=Montserrat');

////////////////////////////////////////////////////////////////////////
//                               reset                                //
////////////////////////////////////////////////////////////////////////
 
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


////////////////////////////////////////////////////////////////////////
//                             variables                              //
////////////////////////////////////////////////////////////////////////

$black-color: #454545;
$white-color: #fff8f0;
$dark-blue-color: #2e3b4a;
$blue-color: #3b4c5f;
$light-blue-color: #485c73;

////////////////////////////////////////////////////////////////////////
//                                base                                //
////////////////////////////////////////////////////////////////////////

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: $black-color;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: $white-color;
}

h2 {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

////////////////////////////////////////////////////////////////////////
//                              layouts                               //
////////////////////////////////////////////////////////////////////////


body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: $white-color;
}

header {
  width: 100%;
  height: 8vh;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-blue-color;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

footer {
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $light-blue-color;
  color: $white-color;
}

////////////////////////////////////////////////////////////////////////
//                             components                             //
////////////////////////////////////////////////////////////////////////

////////////
//  form  //
////////////

.form {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 4rem 0 3rem 0;

  label {
    text-align: center;
    height: 5vh;
    min-height: 5rem;
    display: flex;
    align-items: center;
    margin: 1rem;
  }

  input {
    height: 5vh;
    min-height: 4rem;
    max-height: 6rem;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    color: $white-color;
    background-color: $black-color;
  }

  button {
    height: 5vh;
    min-height: 4rem;
    max-height: 6rem;
    width: 10rem;
    font-size: 2rem;
    margin: 1rem;
    color: $white-color;
    background-color: $black-color;
  }
}

//////////
//  ul  //
//////////

ul {
  font-size: 2rem;
  height: 50vh;
  padding: 3rem 0 4rem 0;
  overflow-y: visible;
  overflow-x: hidden;
  padding: 1rem;

  li {
    width: 50rem;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;

    .fa-times-circle {
      margin: 1rem;
      font-size: 3rem;
    }

    span {
      font-size: 3rem;
      margin: 1rem;
      width: 20rem;
      word-wrap: break-word;

    }

    .li__span--crossed {
      text-decoration: line-through;
    }

    input {
      text-align: center;
      width: 6rem;
      height: 4rem;
      font-size: 3rem;
      margin: 1rem;
    }
  }
}

//////////////
//  footer  //
//////////////

  a {
    color: $white-color;

    .fa-github-square {
      font-size: 10rem;
    }

    .fa-twitter-square {
      font-size: 10rem;
    }

    .fa-linkedin {
      font-size: 10rem;
    }
  }

  .footer__link-twitter {
      margin: 0 5rem 0 5rem;
  }

  .footer__p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
  }

  
