 @import url('https://fonts.googleapis.com/css?family=Montserrat');

////////////////////////////////////////////////////////////////////////
//                               reset                                //
////////////////////////////////////////////////////////////////////////
 
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////
//                                base                                //
////////////////////////////////////////////////////////////////////////

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

////////////////////////////////////////////////////////////////////////
//                              layouts                               //
////////////////////////////////////////////////////////////////////////


body {
  width: 100%;
  height: 100%;
}

header {
  width: 100vw;
  height: 8vh;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

////////////////////////////////////////////////////////////////////////
//                             components                             //
////////////////////////////////////////////////////////////////////////

////////////
//  form  //
////////////

.form {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 4rem 0 3rem 0;

  label {
    text-align: center;
    height: 5vh;
    min-height: 5rem;
    display: flex;
    align-items: center;
    margin: 1rem;
  }

  input {
    height: 5vh;
    min-height: 4rem;
    max-height: 6rem;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
  }

  button {
    height: 5vh;
    min-height: 4rem;
    max-height: 6rem;
    width: 10rem;
    font-size: 2rem;
    margin: 1rem;
  }
}

//////////
//  ul  //
//////////

ul {
  font-size: 2rem;
  height: 50vh;
  padding: 3rem 0 4rem 0;
  overflow-y: visible;
  overflow-x: hidden;
  padding: 1rem;

  li {
    width: 50rem;
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;

    .fa-times-circle {
      margin: 1rem;
      font-size: 3rem;
    }

    span {
      font-size: 3rem;
      margin: 1rem;
      width: 20rem;
      word-wrap: break-word;

    }

    .li__span--crossed {
      text-decoration: line-through;
    }

    input {
      text-align: center;
      width: 6rem;
      height: 4rem;
      font-size: 3rem;
      margin: 1rem;
    }
  }
}

